.preloader{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $danger;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-transition: left .25s;
    transition: left .25s;

    &__img{
        max-width: 380px;
    }
}